body {
  background-color: #131313;
  margin: 0;
  font-family: Nunito Sans, Arial;
}
body * {
  box-sizing: border-box;
}
.wraper {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.container__img {
  max-width: 679px;
  max-height: 482px;
}

.text_container {
  display: flex;
}
.h1__text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  margin-top: 53px;
  color: #e3b873;
}
.h2__text {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin-top: 34px;
  color: #e3b873;
  
}
.texts {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  margin-top: 34px;
  color: #ffffff;
}
.texts__p {
  margin-right: 50px;
}
.container__p1 {
  margin-right: 29px;
}
.text, .text2, .text3{
  width: 161px;
  height: 42px;
}
.dots {
  display: flex;
  margin-top: 81.1px;
}
.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;

  margin: 5px;
}
.activ {
  background:#ffffff; 
}
div.active {
  text-decoration: underline;
  color: #e3b873;
}

.ins__container {
  display: flex;
  margin: 0 auto;
}
.ins {
  margin: 40px 60.5px 53px 0px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
}
.ins:hover {
  color: #e3b873;
  text-decoration: underline;
}
#prev,
#next {
  color: #ffffff;
  text-align: center;
  background: transparent;
  border: none !important;
  margin-bottom: 5px;
  width: 50px;
  }
#prev,
#next,
.dot,
.ins {
  cursor: pointer;
}

.hr {
  margin-top: 100px;
}
.h1-hr__container {
  display: flex;
}

